# Firebase Configuration
# Obtener estos valores de: Project Settings -> General -> Your apps -> SDK setup and configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=hiddenapp-co.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hiddenapp-co
VITE_FIREBASE_STORAGE_BUCKET=hiddenapp-co.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Google Maps (Future)
VITE_GOOGLE_MAPS_API_KEY=

# Stripe (Future)
VITE_STRIPE_PUBLIC_KEY=
